.app-container {
  display: flex;
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.category {
  margin-right: 10px;
  width: 300px;
  overflow: hidden;
}

.tasks-list {
  height: 100%;
  margin-right: 10px;
  overflow-y: auto;
}

.list {
  height: 100%;
}

.tasks {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
}

.content {
  background-color: dimgray !important;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
