<div class="app-container">
  <mat-card class="category" *ngFor="let category of categories.data">
    <mat-card-header>
      <mat-card-title style="color: white">
        {{category.name}}
      </mat-card-title>
    </mat-card-header>
    <div class="add-task-button" style="text-align: center; margin-top: 10px; margin-bottom: 10px">
      <button mat-mini-fab matTooltip="add new task" class="btn btn-primary">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <mat-card-content class="tasks-list">
      <div cdkDropList id="{{category.id}}" [cdkDropListData]="getCorrectTasksFromCategories(category.id)"
           [cdkDropListConnectedTo]="categoryIDs" class="list" (cdkDropListDropped)="drop2($event)">
        <div class="tasks" *ngFor="let task of getCorrectTasksFromCategories(category.id)" cdkDrag>
          <app-task [task]="task" [done_category_id]="category.name == 'Done' ? category.id : 0"></app-task>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

